.header {
    margin-top: 5px;
    height: 2px;
}

.logo h1 {
    margin: 0;
    font-size: 35px;
    font-weight: 600;
}

.logo h1 span:first-of-type {
    padding: 0 15px;
    border: 1px solid #ddd;
    margin-right: 5px;
    color: #d19c97;

}

.arrange-left {
    float: left;
}

.search-product input {
    width: 70%;
    height: 40px;
    border-radius: 0;
    padding: 10px;
    font-size: 18px;
    color: #666;
    border: 1px solid #ddd;
    border-right: none;

}

.search-product input:focus {
    outline: none;
}

.search-product button {
    height: 40px;
    border-radius: 0;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #d19c97;
    margin-left: -6px;
    background-color: #fff;
}

.selected-product {
    text-align: right;
}


.next-row{
    clear:both;
}

.border-top{
    border-bottom: 1px solid #ddd ;
}

.list-header{

    background-color: #D19C97;
    padding-right: 10px;
    padding-left: 15px;
    margin-top: 10px;
    /* display: inline-block; */
}
.list-header h4 {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 400;



}

.list-header span{
    float: right;
    padding: 28px;
}

.category-list {
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
}

.category-list li{
    list-style-type: none;
    padding: 13px 40px;
    border-bottom: 1px solid #ddd;
} 

.category-list li a{
color: #333;
text-decoration: none;
margin-left:14px;
}